body {
    background-color: black;
    margin: 0px;
}
h1 {
    color: gold;
    font-family: 'Courier New';
    text-align: center;
    font-weight: bold;
    
}
.titulo1 {

}
.container1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.titulo1 img {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;
    
}
.texto1 {

}
.blocos1 {

    width: 33%;
}
.blocos2 {

    justify-content: center;
    width: 33%;
}
.formulario1 {
    background-color: black;

}
.blocos3 {
    width: 33%;

}