body{
    color: black;
}
.titulo1 {
    text-align: center;
}
.texto1 {
    font-family: 'Courier New';
    font-size: medium;
    text-align: center;
}
.blocos1 {

}
.blocos2 {

}
.formulario1 {
    
}
.blocos3 {

}