.u-section-1 {
    background-image: url("images/pexels-amin-imanifar-865773.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 798px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 60px auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 17px auto 0 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 371px;
    background-image: none;
    margin: 32px 693px 60px 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    border-style: none;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 550px;
    }
  
    .u-section-1 .u-form-1 {
      margin-right: 493px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 541px;
    }
  
    .u-section-1 .u-form-1 {
      margin-right: 273px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-1 {
      background-position: 78.69% 50%;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 824px;
    }
  
    .u-section-1 .u-form-1 {
      margin-right: 93px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 589px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-form-1 {
      margin-right: 0;
    }
  }